h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0.5rem 0;
}

p {
  margin: 0;
}

.weather-app--content {
  display: flex;
  margin-top: 1rem;
  flex-direction: column;
  justify-content: center;
  min-height: 80vh;
}

.weather-app--weather-item {
  border-radius: 0.625rem;
  border: 0.0625rem solid #eee;
  background-color: #cedfebf5;
  min-height: 14rem;
  width: 18.75rem;
  margin: 0 0.5rem 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.text-center {
  text-align: center;
}

.weather-app--button {
  display: inline-block;
  background: rgb(245, 241, 241);
  color: green;
  padding: 0.4rem 1.3rem;
  border-radius: 1rem;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
  display: block;
}

.weather-app--button:hover {
  opacity: 0.5;
  transform: translateY(-0.1875rem);
}
